<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>
<h1>Welcome to employee management system</h1>

<div>
    <span>Select the operation you would like to perform</span>
    <ul>
        <li><a href="">View the list of all employees</a></li>
        <li><a href="">Get information about en employee by id</a></li>
        <li><a href="">Add new employee</a></li>
        <li><a href="">Fire an employee</a></li>
    </ul>
</div>

</body>
</html>